<h2>Resend confirmation text</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :sms_number %><br />
    <%= f.text_field :sms_number, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_sms_number : resource.sms_number) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation text" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
