<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_confirmation_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :sms_number %><br />
    <%= f.text_field :sms_number, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Confirm mobile number" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
